.pagination {
  background: transparent;
  .page-item:first-child .page-link {
    margin: 0;
  }
  .page-item:not(:first-child) .page-link {
    margin: 0;
  }
  .page-item .page-link {
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.4s;
    background: transparent;
    color: #fff;

    &:hover {
      background-color: $primary-color;
      transition: all ease-in-out 0.4s;
      border-color: $primary-color;
    }
  }
  .active {
    .page-link {
      background: $primary-color;
      border-color: $primary-color;
    }
  }
}