.service-card {
  position: relative;
  overflow: hidden;
  .actions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all ease-in-out 0.4s;
    .action-close {
      position: absolute;
      top: 8px;
      right: 8px;
    }
    &--toggled {
      opacity: 1;
      z-index: 1;
      transition: all ease-in-out 0.4s;
    }
  }
}

.services-detail {
  .actions {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 6px;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    opacity: 0;
    z-index: -1;
    transition: all ease-in-out 0.2s;
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      padding: 6px 8px;
      border-radius: 4px;
      &:hover {
        background-color: $primary-color;
      }
    }
    &--toggled {
      z-index: 1;
      opacity: 1;
      transition: all ease-in-out 0.2s;
    }
  }
}