.th-table {
    table {
      thead {
        th {
          font-weight: 700;
          padding-block: 50px;
          padding-inline: 20px;
        }
      }
      td {
        vertical-align: middle;
        padding: 20px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  .table-bottom {
    padding-top: 30px;
  }
}